<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DRUG MANAGEMENT SYSTEM</title>

    <!-- Bootstrap Core CSS -->
    <link href="${base}/resource/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="${base}/resource/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="${base}/resource/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="${base}/resource/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="${base}/resource/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="${base}/resource/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	<script type="text/javascript" language="javascript">   
		function iFrameHeight() {   
			var ifm= document.getElementById("common");   
			var subWeb = document.frames ? document.frames["common"].document : ifm.contentDocument;   
			if(ifm != null && subWeb != null) {
			   ifm.height = subWeb.body.scrollHeight;
			}   
		}   
	</script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="${base}/signIn/loading?utype=1">药房管理系统</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li><i class="fa fa-gear fa-fw"></i> Welcome Admin,name</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 个人设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
						
						<!-- ********************************************************************** -->
                        <li>
                            <a href="${base}/orders/newRequest" target="common"><i class="fa fa-table fa-fw" ></i> 审批管理</a>
                        </li>
						
                        <!-- ********************************************************************** -->
						
                        <li>
                            <a href="${base}/reports/total" target="common"><i class="fa fa-bar-chart-o fa-fw"></i> 统计报表</a>
                        </li>
						
						<!-- ********************************************************************** -->
						
						 <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw" ></i> 药品管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">药品信息<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
											<a href="${base}/drugIfo/ifoList" target="common">药品列表</a>
										</li>
										<li>
											<a href="${base}/drugIfo/addpage" target="common">新增药品</a>
										</li>                                    
                                    </ul>                                   
                                </li>	
								
								<li>
                                    <a href="#">药品分类<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
											<a href="${base}/totalDrugType/typeList" target="common">药品总分类</a>
										</li>
										<li>
										<a href="${base}/detailDrugType/typeList" target="common">药品细分类</a>
										</li>  
										<li>
										<a href="${base}/totalDrugType/addpage" target="common">新增分类</a>
										</li>  
                                    </ul>                                   
                                </li>	
								
								
								
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
						
              
						
						<!-- ********************************************************************** -->
						
                        <li>
                            <a href="#"><i class="fa fa-group  fa-fw"></i> 供应商管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="${base}/supplier/supplierList" target="common">供应商列表</a>
                                </li>
                                <li>
                                    <a href="${base}/supplier/addpage" target="common">新增供应商</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
						
						
						
                       
						
						<!-- ********************************************************************** -->
						
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i>用户管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">用户列表<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="${base}/users/userList?utype=2" target="common">药品库房管理员</a>
                                        </li>
                                        <li>
                                            <a href="${base}/users/userList?utype=3" target="common">门诊药房管理员</a>
                                        </li>                                     
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
								
								 <li>
                                    <a href="${base}/users/addpage" target="common">新增用户</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
						
						<!-- ********************************************************************** -->
						
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
       			<iframe name="common" id="common" src="${base}/welCome/admin" frameborder="false" scrolling="no" style="border:none;" width="100%"  
       			 marginheight="0"  onLoad="iFrameHeight()"></iframe>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

   <!-- jQuery -->
    <script src="${base}/resource/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="${base}/resource/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="${base}/resource/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${base}/resource/dist/js/sb-admin-2.js"></script>

</body>

</html>
